@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary-background: white;
  --color-primary-text: black;
  --color-bermuda: green;
  --color-midnight: #e2e8f0;
  --color-primary-wooden: #ac611c;
  --color-light-wood: #e4b67a;
  --breakpoint-xs: 30rem;
}

.dark {
  --color-primary-background: black;
  --color-primary-text: white;
  --color-bermuda: #1e293b;
  --color-midnight: #cbd5e1;
  --color-primary-wooden: #ac611c;
  --color-light-wood: #e4b67a;
}

@layer base {
  h1 {
    font-size: larger;
  }
  input {
    border: 1px solid var(--color-zinc-400);
  }
}

@layer components {
  .card {
    display: none;
  }
  .new-in:checked + .card {
    display: block;
  }
  .underline-link {
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
  .animated-border {
    background: repeating-linear-gradient(
      -45deg,
      transparent 0px,
      transparent 7px,
      var(--color-zinc-300) 10px,
      var(--color-zinc-300) 11px
    );
    background-size: 20px 20px;
    /* animation: moveStripes 2s linear infinite; */
  }
  .animated-border:hover {
    animation: moveStripes 3s linear infinite;
  }
  @keyframes moveStripes {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 20px 20px;
    }
  }
  .product-card {
    background-color: whitesmoke;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  @keyframes buttonPulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.04);
    }
  }

  .button-pulse {
    animation: buttonPulse 2s ease-in-out infinite;
  }
}
