@import "tailwindcss";

@theme {
  --color-primary-background: white;
  --color-primary-text: black;
  --color-bermuda: green;
  --color-midnight: #e2e8f0;
}

.dark {
  --color-primary-background: black;
  --color-primary-text: white;
  --color-bermuda: #1e293b;
  --color-midnight: #cbd5e1;
}

@layer base {
  h1 {
    font-size: larger;
  }
  input {
    border: 1px solid var(--color-zinc-400);
  }
}

@layer components {
  .card {
    display: none;
  }
  .new-in:checked + .card {
    display: block;
  }
  .underline-link {
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
  .animated-border {
    background: repeating-linear-gradient(
      -45deg,
      transparent 0px,
      transparent 7px,
      var(--color-zinc-300) 10px,
      var(--color-zinc-300) 11px
    );
    background-size: 20px 20px;
    /* animation: moveStripes 2s linear infinite; */
  }
  .animated-border:hover {
    animation: moveStripes 3s linear infinite;
  }
  @keyframes moveStripes {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 20px 20px;
    }
  }
}
